.form-container__other-option-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity ease .3s;
    color: #000000;
}

.form-container__other-option-button:hover {
    opacity: .6;
}

