.form__submit-button {
   padding: 0;
   height: 45px;
   border: none;
   border-radius: 3px;
   background-color: #000000;
   color: #ffffff;
   font-size: 14px;
   line-height: 1.21;
   font-weight: 400;
   cursor: pointer;
   transition: opacity ease .3s;
}

.form__submit-button:hover {
    opacity: .6;
}

.form__submit-button:disabled {
    background-color: #a0a0a0;
    cursor: default;
}

.form__submit-button:disabled:hover {
    opacity: 1;
}

@media screen and (max-width: 650px) {
    .form__submit-button {
        font-size: 12px;
    }
}