.form-container__profile-signout-button {
    height: 16px;
    width: max-content;
    font-size: 13px;
    line-height: 1.21;
    font-weight: 400;
    color: #ff4062;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity ease .3s;
}

.form-container__profile-signout-button:hover {
    opacity: .6;
}