.movies-card__image {
    width: 100%;
    height: calc(100% - 68.44px);
    object-fit: cover;
    cursor: pointer;
    transition: opacity ease .3s;
}

.movies-card__image:hover {
    opacity: .8;
}