.paragraph__title_size_XL {
    font-size: 50px;
    line-height: 1.16;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 800px) {
    .paragraph__title_size_XL {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 500px) {
    .paragraph__title_size_XL {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 1.21;
    }
}