.paragraph__text {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .paragraph__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .paragraph__text {
        font-size: 11px;
    }
}