.paragraph__title_size_L {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 800px) {
    .paragraph__title_size_L {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 500px) {
    .paragraph__title_size_L {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 1.21;
    }
}