.filter-checkbox__toggle {
    width: 36px;
    height: 20px;
    background-color: #a0a0a0;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    transition: background-color ease .3s;
}
